body{
    background: #1abc9c;
}

body::-webkit-scrollbar{
  display: none;
}

.cabecario{
    background-color: rgb(85, 85, 120);
    height: 10vh;
    padding-top: 2vh;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.logo{
    background-color: rgb(51, 51, 73);
    height: 7vh;
    width: 7vh;
    margin-left: 2vh;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.logo:hover {
    background-color: rgb(34, 34, 49);
    transition: 0.3s;
  }

.esquerda{
    position: fixed;
    display: flex;
    right: 5vh;
}

.baixo{
    background-color: rgb(85, 85, 120);
    height: 10vh;
    padding-top: 2vh;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    justify-content:space-around;
}

.imagem{
    width: 10vh;
    padding: 1vh;
}

.search-box {
  position: fixed;
  top: 17vh;
  right: 1vh;
  display: flex;
  align-items: center;
  transform: translate(-5%, -5%);
  padding: 10px;
  border-radius: 40px;
  height: 40px;
  background: rgb(42, 42, 60);
}

.search-box:hover .search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-box:hover .search-btn {
  background: #fff;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #fff;
  transition: 0.5s;
  font-size: 1rem;
  width: 0px;
  font-family: cursive;
}

.search-btn {
  color: #1abc9c;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.5s;
}

.catalogo{
    margin: auto;
    background-color: rgb(51, 51, 73);
    width: 130vh;
    height: 25vh;
    border-radius: 20px;
    overflow: hidden;
    overflow-x: auto;
}

.catalogo::-webkit-scrollbar{
  display: none;
}

.topo{
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
}

.topo1{
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin-bottom: 20vh;
}

.nome{
    background-color: rgb(51, 51, 73);
    height: 5vh;
    width: 20vh;
    border-radius: 5px;
    margin: auto;
    margin-bottom: -1vh;
}

.texto{
    color: #cba2a2;
    font-family:cursive;
    text-align: center;
}

.maisL{
  margin-left: 1vh;
  border-radius: 3vh;
  height: 3vh;
  width: 3vh;
}

.adicionar{
  width: 3vh;
  height: 3vh;
}

.pesquisar{
  background-color: rgb(51, 51, 73);
  width: 7vh;
  margin-top: -0.1vh;
  margin-left: 2vh;
  text-align: center;
}

#obra{
  background-color: rgb(75, 75, 87);
  display: flex;
  flex-direction: row;
  width: 45vh;
  height: 15vh;
  margin-top: 3vh;
  margin-left: 2vh;
  padding: 1vh;
  border-radius: 10px;
}

.info{
  background-color: rgb(63, 63, 70);
  border: none;
  width: 10vh;
  margin: 1vh;
  border-radius: 10px;
}

#listaL{
  display: flex;
}

#listaS{
  display: flex;
}

#listaF{
  display: flex;
}

#opiniao{
  background-color: rgb(63, 63, 70);
  border: none;
  width: 10vh;
  margin: 1vh;
  border-radius: 10px;
  width: 30vh;
  height: 10vh;
}